{% extends '@Baseapp/layout-with-sidebar.html.twig' %}

{% block title %}Visualchain{% endblock %}

{% block head_javascripts %}
    {{ parent() }}
    <script src="/bundles/visualchain/js/contextmenu.js"></script>
    <script src="/bundles/visualchain/js/jquerymousewheel.js"></script>
    <script src="/bundles/visualchain/js/jquery-ui.min.js"></script>
    <script src="/bundles/visualchain/js/jstree.min.js"></script>
    <script src="/bundles/visualchain/js/jqueryscrollpane.js"></script>
    <script src="/bundles/visualchain/js/editor.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            VisualProcessEditor.init("123",true);
        });
    </script>
{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/bundles/visualchain/css/contextmenu.css">
    <link rel="stylesheet" type="text/css" href="/bundles/visualchain/css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/bundles/visualchain/css/jstree/style.min.css">
    <link rel="stylesheet" type="text/css" href="/bundles/visualchain/css/jqueryscrollpane.css">
    <link rel="stylesheet" href="/bundles/visualchain/css/visual.css" type="text/css">
{% endblock %}

{% block content_inner %}
    <div class="vp-main">
        <div class="vp-top">
            <h1>
{#{{ getBundleName() }}#}
            </h1>
            <div class="about-trigger" onclick="VisualProcessEditor.showAbout();">
                <i class="far fa-question-circle fa-lg"></i>
            </div>
        </div>
        <div class="vp-middle">
            <div class="vp-left">
                <div class="vp-buttons">
                    <div class="border top left right">
                        <div class="controls">

                        </div>
                    </div>
                </div>
                <div class="vp-tree">
                    <div class="border left right top scroller scroll-pane">
                        <div class="tree">

                        </div>
                    </div>
                </div>
                <div class="vp-bottom">
                    <div class="border all">
                        <div class="output-text scroll-pane hover-pane">
                            <p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vp-right">
                <div class="vp-buttons">
                    <div class="border top right">
                        <div class="controls">
                        </div>
                    </div>
                </div>
                <div class="vp-canvas">
                    <div class="border top right">
                        <div class="canvas scroller scroll-pane hover-pane"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dialog-inform" title="" style="display:none;">
        <div class="dialog-left">
            <span class="ui-icon ui-icon-information" style="float:left; margin:12px 12px 20px 0;"></span>
        </div>
        <div class="dialog-right">
            <p class="text"></p>
        </div>
    </div>
    <div id="dialog-confirm" title="" style="display:none;">
        <div class="dialog-left">
            <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        </div>
        <div class="dialog-right">
            <p class="text"></p>
        </div>
    </div>
    <div id="dialog-form" title="" style="display:none;">
        <div class="dialog-left">
            <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        </div>
        <div class="dialog-right">
            <p class="text"></p>
            <form>
                <fieldset>
                </fieldset>
            </form>
        </div>
    </div>

    <div id="dialog-editor-form" title="" style="display:none;">
        <div class="dialog-left">
            <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        </div>
        <div class="dialog-right">
            <p class="text"></p>
            <div class="wrapper">
            </div>
        </div>
    </div>
{% endblock %}